* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Color Theme Swatches in Hex */
body {
  color: #0a1c40;
  font-family: 'Montserrat', sans-serif;
  background-color: #0a1c40;
}

.btn {
  border: 1px solid #f2d0bd;
  border-radius: 5px;
  padding: 1em 1.618em;
  margin: 0.5em 1em;
  color: #f2d0bd;
  background-color: #bf2441;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:disabled {
  background-color: #ccc;
  color: #f24c3d;
}

.btn:hover {
  background-color: #f2d0bd;
  border: 1px solid #bf2441;
  color: #bf2441;
}

.container {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background-color: #fff67f;
  text-align: center;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
}

.container .hangman-img {
  height: 25vh;
}

.container .word-area {
  font-size: 4em;
  margin: 1em;
}

.container .health,
.container .guesses,
.container .reset {
  display: none;
}

.container .keyboard {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
