* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Color Theme Swatches in Hex */
body {
  color: #0a1c40;
  font-size: 20px;
  font-family: 'VT323', monospace;
  background-color: #0a1c40;
}

.btn {
  font-family: 'VT323', monospace;
  font-size: 1em;
  border: 1px solid #f2d0bd;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 0.5em 1em;
  color: #f2d0bd;
  background-color: #bf2441;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:disabled {
  background-color: #ccc;
  color: #f24c3d;
}

.btn:hover {
  background-color: #f2d0bd;
  border: 1px solid #bf2441;
  color: #bf2441;
}

.container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em auto;
  background-color: #fff67f;
  text-align: center;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
}

.container h1 {
  font-size: 3em;
  font-weight: 900;
}

.container .hangman-img {
  height: 15vh;
}

.container .word-area {
  font-size: 4em;
  margin: 0.2em;
}

.container .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .guesses,
.container .health,
.container .reset {
  display: none;
}

.container .guesses,
.container .health {
  font-weight: 700;
  border: 2px solid #bf2441;
  padding: 1em;
  margin: 1em;
  border-radius: 15px;
}

.container .health .keyboard {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .reset {
  margin: 1em auto;
}

.container .win {
  font-size: 5em;
}
