/* Color Theme Swatches in Hex */
$primary: #bf2441;
$background: #730237;
$dark: #0a1c40;
$white: #f2d0bd;
$tertiary: #f24c3d;

// /* Color Theme Swatches in RGBA */
// $Stylizer-1-rgba: rgba(191, 36, 65, 1);
// $Stylizer-2-rgba: rgba(115, 2, 55, 1);
// $Stylizer-3-rgba: rgba(10, 28, 64, 1);
// $Stylizer-4-rgba: rgba(242, 208, 189, 1);
// $Stylizer-5-rgba: rgba(242, 76, 61, 1);

// /* Color Theme Swatches in HSLA */
// $Stylizer-1-hsla: hsla(348, 68, 44, 1);
// $Stylizer-2-hsla: hsla(331, 96, 22, 1);
// $Stylizer-3-hsla: hsla(219, 72, 14, 1);
// $Stylizer-4-hsla: hsla(21, 67, 84, 1);
// $Stylizer-5-hsla: hsla(4, 87, 59, 1);

// BORDER-RADIUS
$border-radius: 15px;
