* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import 'variables';
body {
  color: $gameboy-5;
  font-size: 20px;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'VT323', monospace;
  background-color: $gameboy-1;
}

.btn {
  font-family: 'VT323', monospace;
  font-size: 1em;
  border: 1px solid $gameboy-5;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 0.5em 1em;
  color: $gameboy-5;
  background-color: $gameboy-1;
  transition: all 0.2s ease-in-out;

  &:disabled {
    background-color: $gameboy-3;
    color: $gameboy-2;
    text-decoration: line-through;
  }

  &:hover {
    background-color: $gameboy-5;
    border: 1px solid $gameboy-5;
    color: $gameboy-1;
  }
}

.container {
  width: 60%;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  background-color: $gameboy-1;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: $border-radius;

  h1 {
    font-size: 3em;
    // margin: 1em;
    font-weight: 900;
  }
  .hangman-img {
    height: 15vh;
    margin-top: 1em;
    background-color: $gameboy-5;
    border-radius: $border-radius;
  }

  .word-area {
    font-size: 4em;
    margin: 0.2em;
  }

  .messages {
    h1 {
      background-color: $gameboy-5;
      border: 2px solid $gameboy-1;
      border-radius: $border-radius;
      color: $gameboy-1;
      padding: 1em;
    }
  }
  .stats {
    display: flex;
    justify-content: center;
  }
  .guesses,
  .health,
  .reset {
    display: none;
    // margin: 0 auto;
  }
  .guesses,
  .health {
    font-weight: 700;
    border: 2px solid $gameboy-5;
    padding: 1em;
    margin: 1em;
    border-radius: $border-radius;
  }
  .health .keyboard {
    justify-content: space-between;
  }
  .reset {
    margin: 1em auto;
  }
  .win {
    font-size: 5em;
  }

  footer {
    position: absolute;
    left: 45%;
    top: 95%;
    text-align: center;
    // margin: 0 auto;
  }
}
@media screen and (max-width: 1000px) {
  body {
    font-size: 16px;
  }
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    width: 90%;

    .btn {
      margin: 0.2em;
    }
  }
}
