* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import 'variables';
body {
  color: $dark;
  font-size: 20px;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'VT323', monospace;
  background-color: $dark;
}

.btn {
  font-family: 'VT323', monospace;
  font-size: 1em;
  border: 1px solid $white;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 0.5em 1em;
  color: $white;
  background-color: $primary;
  transition: all 0.2s ease-in-out;

  &:disabled {
    background-color: #ccc;
    color: $tertiary;
  }

  &:hover {
    background-color: $white;
    border: 1px solid $primary;
    color: $primary;
  }
}

.container {
  width: 60%;
  // height: 100vh;
  display: flex;
  margin: 1em auto;
  background-color: rgb(255, 246, 127);
  // margin-top: 5vh;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: $border-radius;

  h1 {
    font-size: 3em;
    // margin: 1em;
    font-weight: 900;
  }
  .hangman-img {
    height: 15vh;
  }

  .word-area {
    font-size: 4em;
    margin: 0.2em;
  }

  .stats {
    display: flex;
    justify-content: center;
  }
  .guesses,
  .health,
  .reset {
    display: none;
    // margin: 0 auto;
  }
  .guesses,
  .health {
    font-weight: 700;
    border: 2px solid $primary;
    padding: 1em;
    margin: 1em;
    border-radius: $border-radius;
  }
  .health .keyboard {
    justify-content: space-between;
  }
  .reset {
    margin: 1em auto;
  }
  .win {
    font-size: 5em;
  }
}
