* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import 'variables';
body {
  color: $dark;
  font-family: 'Montserrat', sans-serif;
  background-color: $dark;
}

.btn {
  border: 1px solid $white;
  border-radius: 5px;
  padding: 1em 1.618em;
  margin: 0.5em 1em;
  color: $white;
  background-color: $primary;
  transition: all 0.2s ease-in-out;

  &:disabled {
    background-color: #ccc;
    color: $tertiary;
  }

  &:hover {
    background-color: $white;
    border: 1px solid $primary;
    color: $primary;
  }
}

.container {
  width: 50%;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  background-color: rgb(255, 246, 127);
  // margin-top: 5vh;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: $border-radius;

  .hangman-img {
    height: 25vh;
  }

  .word-area {
    font-size: 4em;
    margin: 1em;
  }

  .health,
  .guesses,
  .reset {
    display: none;
  }

  .keyboard {
    justify-content: space-between;
  }
}
